/base-start/src/main/resources/upload/
/base-task/target/
/base-email/target/
target
/base-backup/target/
/base-business/target/
/base-common/target/
/base-core/target/
/base-monitor/target/
/base-start/target/
/base-log/
/base-request/target/
/base-email/target/
/base-task/target/
/.idea/
/base-gencode/base-log/
/gen/icu/liuwisdom/gen/controller/SysDictController.java
/gen/icu/liuwisdom/gen/mapper/SysDictMapper.java
/gen/icu/liuwisdom/gen/mapper/SysDictMapper.xml
/gen/icu/liuwisdom/gen/po/SysDict.java
/gen/icu/liuwisdom/gen/query/SysDictQuery.java
/gen/icu/liuwisdom/gen/service/impl/SysDictServiceImpl.java
/gen/icu/liuwisdom/gen/service/ISysDictService.java
/gen/icu/liuwisdom/gen/vo/SysDictVo.java
/file/upload/
/base-admin/.idea/
