<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.liuwisdom.admin.mapper.SysRoleMapper">
    <select id="selectByUserName" resultType="icu.liuwisdom.admin.entity.SysRole">
        select distinct sys_role.id,
                        sys_role.name,
                        sys_role.remark,
                        sys_role.create_by,
                        sys_role.create_time,
                        sys_role.last_update_by,
                        sys_role.last_update_time,
                        sys_role.del_flag
        from sys_role sys_role
                 left join sys_user_role sys_user_role on sys_user_role.role_id = sys_role.id
                 left join sys_user sys_user on sys_user.id = sys_user_role.user_id
        where sys_user.name = #{name}
          and sys_role.del_flag = 0
    </select>
    <sql id="select">
        select sys_role.id                    sys_role_id,
               sys_role.name                  sys_role_name,
               sys_role.remark                sys_role_remark,
               sys_role.create_by             sys_role_create_by,
               sys_role.create_time           sys_role_create_time,
               sys_role.last_update_by        sys_role_last_update_by,
               sys_role.last_update_time      sys_role_last_update_time,
               sys_role.del_flag              sys_role_del_flag,
               sys_role_menu.id               sys_role_menu_id,
               sys_role_menu.role_id          sys_role_menu_role_id,
               sys_role_menu.menu_id          sys_role_menu_menu_id,
               sys_role_menu.create_by        sys_role_menu_create_by,
               sys_role_menu.create_time      sys_role_menu_create_time,
               sys_role_menu.last_update_by   sys_role_menu_last_update_by,
               sys_role_menu.last_update_time sys_role_menu_last_update_time,
               sys_menu.id                    sys_menu_id,
               sys_menu.name                  sys_menu_name,
               sys_menu.parent_id             sys_menu_parent_id,
               sys_menu.url                   sys_menu_url,
               sys_menu.perms                 sys_menu_perms,
               sys_menu.type                  sys_menu_type,
               sys_menu.icon                  sys_menu_icon,
               sys_menu.order_num             sys_menu_order_num,
               sys_menu.create_by             sys_menu_create_by,
               sys_menu.create_time           sys_menu_create_time,
               sys_menu.last_update_by        sys_menu_last_update_by,
               sys_menu.last_update_time      sys_menu_last_update_time,
               sys_menu.del_flag              sys_menu_del_flag,
               sys_menu.endpoint              sys_menu_endpoint
        from sys_role sys_role
                 left join sys_role_menu sys_role_menu on sys_role_menu.role_id = sys_role.id
                 left join sys_menu sys_menu on sys_menu.id = sys_role_menu.menu_id
    </sql>
    <sql id="selectIds">
        select distinct sys_role.id sys_role_id
        from sys_role sys_role
                 left join sys_role_menu sys_role_menu on sys_role_menu.role_id = sys_role.id
                 left join sys_menu sys_menu on sys_menu.id = sys_role_menu.menu_id
    </sql>
    <sql id="where">
        where sys_role.del_flag = 0
        <trim>
            <if test="query.name!=null and query.name!=''">
                and sys_dept.name like concat('%',#{query.name},'%')
            </if>
            <if test="query.ids!=null and query.ids.size()>0">
                and sys_dept.sys_dept_id in
                <foreach collection="query.ids" separator="," item="id" open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </trim>
    </sql>
    <resultMap id="po" type="icu.liuwisdom.admin.entity.SysRole">
        <id property="id" column="sys_role_id"/>
        <result property="name" column="sys_role_name"/>
        <result property="remark" column="sys_role_remark"/>
        <result property="createBy" column="sys_role_create_by"/>
        <result property="createTime" column="sys_role_create_time"/>
        <result property="lastUpdateBy" column="sys_role_last_update_by"/>
        <result property="lastUpdateTime" column="sys_role_last_update_time"/>
        <result property="delFlag" column="sys_role_del_flag"/>
    </resultMap>
    <resultMap id="vo" type="icu.liuwisdom.admin.vo.SysRoleVo" extends="po">
        <collection property="menu" ofType="icu.liuwisdom.admin.entity.SysMenu">
            <id property="id" column="sys_menu_id"/>
            <result property="name" column="sys_menu_name"/>
            <result property="parentId" column="sys_menu_parent_id"/>
            <result property="url" column="sys_menu_url"/>
            <result property="perms" column="sys_menu_perms"/>
            <result property="type" column="sys_menu_type"/>
            <result property="icon" column="sys_menu_icon"/>
            <result property="orderNum" column="sys_menu_order_num"/>
            <result property="createBy" column="sys_menu_create_by"/>
            <result property="createTime" column="sys_menu_create_time"/>
            <result property="lastUpdateBy" column="sys_menu_last_update_by"/>
            <result property="lastUpdateTime" column="sys_menu_last_update_time"/>
            <result property="delFlag" column="sys_menu_del_flag"/>
            <result property="endpoint" column="sys_menu_endpoint"/>
        </collection>
    </resultMap>
    <!--分页查询-->
    <select id="selectIds" resultType="java.lang.String">
        <include refid="selectIds"/>
        <include refid="where"/>
    </select>
    <select id="basePage" resultMap="vo">
        <include refid="select"/>
        <include refid="where"/>
    </select>
    <select id="selectById" resultMap="vo">
        <include refid="select"/>
        where sys_role.id = #{id} and sys_role.del_flag = 0
    </select>
</mapper>
