package ${package.Mapper};
import icu.liuwisdom.core.mapper.BaseMapper;
import ${parentPackageName}.query.${entity}Query;
import ${parentPackageName}.vo.${entity}Vo;
import ${package.Entity}.${entity};
#if(${mapperAnnotation})
import org.apache.ibatis.annotations.Mapper;
#end

/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${mapperAnnotation})
@Mapper
#end
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}, ${entity}Query, ${entity}Vo> {

}
#end
